/*  Navbar */
.navbar {
    background: $bg-primary-color;
    box-shadow: $box-shadow;
    min-height: 80px;    
}

@import './menu/navbar-brand';
@import './menu/navbar-toggler';
@import './menu/nav-link';






